*egg-info
__pycache__/
build/
dist/
*pyc
test/.coverage
.coverage
htmlcov/
docs/recipes/
.pytest_cache
.mypy_cache
*~
_bioconda_recipes
docs/source/developer/_autosummary

# Mac OS Files
.DS_Store
env
