# The autobump bot runs on CircleCI (rather than run on Azure Pipelines or
# GitHub Actions) so that we avoid additional workload on those other services
# which currently take care of PRs and bulk branch, respectively.
#
# Note that this runs the version of bioconda-utils configured in
# bioconda-common/common.sh (via the installation script), rather than the
# latest commit on the branch where this is running.

version: 2

jobs:
  autobump:
    machine:
      image: ubuntu-2004:202201-02
    steps:
      - add_ssh_keys:
          fingerprints:
            - db:1a:ec:46:59:8f:a8:ad:25:e7:7a:57:76:59:ba:24

      - checkout

      - run:
          name: Download bioconda install script
          command: curl -s https://raw.githubusercontent.com/bioconda/bioconda-common/master/install-and-set-up-conda.sh > install-and-set-up-conda.sh

      - run:
          name: set up env vars
          command: echo "export PATH=/opt/miniconda/bin:$PATH" >> "$BASH_ENV"

      - run:
          name: Ensure cache has path to restore to
          command: |
            sudo mkdir -p /opt
            sudo chown -R $USER /opt

      - restore_cache:
          key: bioconda-utils-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum ".circleci/config.yml" }}

      - run:
          name: Install bioconda-utils
          command: |
            source $BASH_ENV
            if [ ! -e /opt/miniconda ]; then
              bash install-and-set-up-conda.sh
            fi

      - save_cache:
          key: bioconda-utils-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - /opt/mambaforge

      - store_artifacts:
          path: /tmp/artifacts

      - run:
          name: Check recipes for new upstream releases
          command: |
            git clone git@github.com:bioconda/bioconda-recipes
            cd bioconda-recipes
            git config user.name "Autobump"
            git config user.email "bioconda@users.noreply.github.com"
            mkdir -p /tmp/artifacts
            source /opt/mambaforge/bin/activate
            eval "$(conda shell.bash hook)"
            conda activate bioconda
            bioconda-utils autobump \
              --unparsed-urls /tmp/artifacts/unparsed_urls.txt \
              --failed-urls /tmp/artifacts/failed_urls.txt \
              --recipe-status /tmp/artifacts/status.txt \
              --create-pr \
              --no-check-pinnings \
              --no-check-pending-deps \
              --no-follow-graph \
              --exclude 'bioconductor-*' \
              --commit-as BiocondaBot 47040946+BiocondaBot@users.noreply.github.com \
              $AUTOBUMP_OPTS

workflows:
  version: 2
  bioconda-utils-autobump:
     triggers:
       - schedule:
           cron: "0 * * * *"
           filters:
            branches:
               only:
                 - master
     jobs:
       - autobump
