# The autobump bot runs on CircleCI (rather than run on Azure Pipelines or
# GitHub Actions) so that we avoid additional workload on those other services
# which currently take care of PRs and bulk branch, respectively.

version: 2

jobs:
  autobump:
    machine:
      image: ubuntu-2004:202201-02
    steps:
      - add_ssh_keys:
          fingerprints:
            - db:1a:ec:46:59:8f:a8:ad:25:e7:7a:57:76:59:ba:24

      - checkout

      - run:
          name: Download common definitions
          command: curl -s https://raw.githubusercontent.com/bioconda/bioconda-common/master/common.sh > .circleci/common.sh

      - run:
          name: set up env vars
          command: echo "export PATH=$(pwd)/miniconda/bin:$PATH" >> "$BASH_ENV"

      - restore_cache:
          keys:
            - bioconda-utils-{{
              checksum ".circleci/common.sh" }}-{{
              checksum ".circleci/config.yml" }}-{{
              checksum "bioconda_utils/bioconda_utils-requirements.txt" }}

      - run:
          name: Setup dependencies
          command: |
            source .circleci/common.sh
            git checkout ${BIOCONDA_UTILS_TAG}
            curl -L -o mambaforge.sh https://github.com/conda-forge/miniforge/releases/download/${MAMBAFORGE_VER}/Mambaforge-${MAMBAFORGE_VER}-Linux-x86_64.sh
            bash mambaforge.sh -b -p ./mambaforge
            mamba config --system --add channels defaults
            mamba config --system --add channels bioconda
            mamba config --system --add channels conda-forge
            mamba install -y --file bioconda_utils/bioconda_utils-requirements.txt --file test-requirements.txt
            mamba clean -y --all
            python setup.py install

      - save_cache:
          key: bioconda-utils-{{
             checksum ".circleci/common.sh" }}-{{
             checksum ".circleci/config.yml" }}-{{
             checksum "bioconda_utils/bioconda_utils-requirements.txt" }}
          paths:
            - miniconda

      - store_artifacts:
          path: /tmp/artifacts

      - run:
          name: Check recipes for new upstream releases
          command: |
            git clone git@github.com:bioconda/bioconda-recipes
            cd bioconda-recipes
            git config user.name "Autobump"
            git config user.email "bioconda@users.noreply.github.com"
            mkdir -p /tmp/artifacts
            bioconda-utils autobump \
              --unparsed-urls /tmp/artifacts/unparsed_urls.txt \
              --failed-urls /tmp/artifacts/failed_urls.txt \
              --recipe-status /tmp/artifacts/status.txt \
              --create-pr \
              --no-check-pinnings \
              --no-check-pending-deps \
              --no-follow-graph \
              --exclude 'bioconductor-*' \
              --commit-as BiocondaBot 47040946+BiocondaBot@users.noreply.github.com \
              $AUTOBUMP_OPTS

workflows:
  version: 2
  bioconda-utils-autobump:
     triggers:
       - schedule:
           cron: "0 * * * *"
           filters:
            branches:
               only:
                 - master
     jobs:
       - autobump