# Some of Bioconda's supported versions are described
# in ../docs/source/user/versions.rst
# so please keep that documentation up to date as they change

# pinnings
conda-forge-pinning=2023.05.06.13.08.41

# basics
python=3.10.*
conda=24.3.*
conda-libmamba-solver=24.1.*
conda-build=24.3.*
conda-index=0.4.*
mamba=1.5.*
boa=0.17.*

argh=0.31.*                   # CLI
colorlog=6.*                  # Logging
tqdm=4.66.*                   # Progress monitor
yaspin=2.*                    #
ruamel.yaml=0.18.*            # Recipe YAML parsing
pyaml=23.12.*                 # Faster YAML parser (deprecate?)
networkx=3.3.*                # (networkx>3.3 needs python>=3.10)
pandas=2.2.*                  #
libblas=*=*openblas           # Avoid large mkl package (pulled in by pandas)
boltons=24.0.*                #
jsonschema=4.21.*             # JSON schema verification
jinja2=3.1.*                  #

anaconda-client=1.12.*        # anaconda_upload
galaxy-tool-util=24.*         # mulled test and container build
involucro=1.1.*               # mulled test and container build
skopeo=1.15.*                 # docker upload
findutils                     # find/xargs copy built packages from container
git=2.*                       # well - git

# hosters - special regex not supported by RE
regex=2023.*                  #

# asyncio
aiohttp=3.9.*                 # HTTP lib
aiohttp-jinja2                # jinja2 renderer for aiohttp.web
aiohttp-session               #
aiohttp-security              #
aiofiles=23.*                 # async open
aioftp=0.22.*                 # FTP lib
backoff=2.2.*                 # retrying of failed API calls
cachetools=5.3.*              # request caching (NEEDED?)

# client API wrappers
gitpython=3.1.*               # githandler
gidgethub=5.*                 # githubhandler
pyjwt>=2.4.0                  # githubhandler (JWT signing), needs >=2.4.0, CVE-2022-29217

# bioconductor-skeleton
beautifulsoup4=4.*            #

# The bioconductor skeleton needs this
requests=2.31.*               #

# merge handling
pygithub                      #

# caching
diskcache=5.*                 #
platformdirs=4.*              #

# build failure output
tabulate=0.9.*                #

# TODO: Remove these from general requirements into a doc-only-requirements file.
# docs
sphinx>=4.1
celery
sphinx-autodoc-typehints
alabaster=0.7.*
docutils
markdown
graphviz
