# Some of Bioconda's supported versions are described
# in ../docs/source/user/versions.rst
# so please keep that documentation up to date as they change

# basics
python=3.7.*
conda=4.8.4
networkx=2.6.*
