name: Make Biocontainers Public 
on: workflow_dispatch
jobs:
  changevisibility:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3

      - name: Check Containers and Set Public
        run: |
          python -m pip install requests
          python .github/quay-namespace-info.py --namespace biocontainers --changevisibility
        env:
          QUAY_OAUTH_TOKEN: ${{ secrets.QUAY_BIOCONDA_TOKEN }}

      - name: Upload logs
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: biocontainers-*.txt
          retention-days: 7
