name: PR Tests
on: [pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-linux:
    if: ${{ false }} # FIXME
    name: Linux tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py_test_marker:
          - not long_running_1 and not long_running_2
          - long_running_1
          - long_running_2

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set path
        run: echo "/opt/mambaforge/bin" >> $GITHUB_PATH

      - name: Install bioconda-utils
        run: |
          export BIOCONDA_DISABLE_BUILD_PREP=1
          wget https://raw.githubusercontent.com/bioconda/bioconda-common/master/{common,install-and-set-up-conda,configure-conda}.sh
          bash install-and-set-up-conda.sh
          eval "$(conda shell.bash hook)"
          conda create -n bioconda --quiet --yes --file test-requirements.txt --file bioconda_utils/bioconda_utils-requirements.txt
          conda activate bioconda
          conda list
          python setup.py install

      - name: Run tests '${{ matrix.py_test_marker }}'
        run: |
          eval "$(conda shell.bash hook)"
          conda activate bioconda
          if git diff --name-only origin/master...HEAD | grep -vE ^docs; then
              source images/image_config.sh
              source images/env_var_inventory.sh
              py.test --durations=0 test/ -v --log-level=DEBUG --tb=native -m '${{ matrix.py_test_marker }}'
          else
              echo "Skipping pytest - only docs modified"
          fi
  test-macosx:
    if: ${{ false }} # FIXME
    name: OSX tests
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set path
        run: echo "/opt/mambaforge/bin" >> $GITHUB_PATH

      - name: Install bioconda-utils
        run: |
          export BIOCONDA_DISABLE_BUILD_PREP=1
          wget https://raw.githubusercontent.com/bioconda/bioconda-common/master/{common,install-and-set-up-conda,configure-conda}.sh
          bash install-and-set-up-conda.sh
          eval "$(conda shell.bash hook)"
          conda create -n bioconda --quiet --yes --file test-requirements.txt --file bioconda_utils/bioconda_utils-requirements.txt
          conda list
          conda activate bioconda
          python setup.py install

      - name: Run tests
        run: |
          eval "$(conda shell.bash hook)"
          conda activate bioconda
          if git diff --name-only origin/master...HEAD | grep -vE ^docs; then
              py.test --durations=0 test/ -v --log-level=DEBUG -k "not docker" --tb=native
          else
              echo "Skipping pytest - only docs modified"
          fi

  autobump-test:
    if: ${{ false }} # FIXME
    name: autobump test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set path
        run: echo "/opt/mambaforge/bin" >> $GITHUB_PATH

      - name: Install bioconda-utils
        run: |
          export BIOCONDA_DISABLE_BUILD_PREP=1
          wget https://raw.githubusercontent.com/bioconda/bioconda-common/master/{common,install-and-set-up-conda,configure-conda}.sh
          bash install-and-set-up-conda.sh
          eval "$(conda shell.bash hook)"
          conda create -n bioconda --quiet --yes --file test-requirements.txt --file bioconda_utils/bioconda_utils-requirements.txt
          conda activate bioconda
          conda list
          python setup.py install

      - name: Test autobump
        run: |
          eval "$(conda shell.bash hook)"
          conda activate bioconda
          git clone --depth 1 https://github.com/bioconda/bioconda-recipes.git
          cd bioconda-recipes
          git config user.name Autobump
          git config user.email bioconda@users.noreply.github.com
          mkdir /tmp/artifacts
          bioconda-utils autobump \
            --packages "a*" \
            --unparsed-urls /tmp/artifacts/unparsed_urls.txt \
            --failed-urls /tmp/artifacts/failed_urls.txt \
            --recipe-status /tmp/artifacts/status.txt \
            --create-pr \
            --no-check-pinnings \
            --no-check-pending-deps \
            --no-follow-graph \
            --exclude bioconductor-* \
            --commit-as BiocondaBot 47040946+BiocondaBot@users.noreply.github.com \
            --max-updates 5 \
            --dry-run
