on:
  push:
    branches:
      - master

name: release-please

jobs:
  release_please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          release-type: python
          package-name: bioconda-utils

  publish_containers:
    runs-on: ubuntu-latest
    needs: release-please
    steps:
      - uses: actions/checkout@v2
        if: ${{ needs.release_please.outputs.release_created }}
        with:
          fetch-depth: 0

      - id: get-tag
        if: ${{ needs.release_please.outputs.release_created }}
        run: |
          #tag=${{ github.event.release && github.event.release.tag_name || github.sha }}
          tag=${{ needs.release_please.outputs.tag_name }}
          printf %s "::set-output name=tag::${tag#v}"

      - name: Install qemu dependency
        if: ${{ needs.release_please.outputs.release_created }}
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Build x86_64 Image
        if: ${{ needs.release_please.outputs.release_created }}
        id: buildah-build
        uses: redhat-actions/buildah-build@v2
        with:
          image: bioconda-utils-build-env-cos7
          arch: amd64
          build-args: |
            BASE_IMAGE=quay.io/condaforge/linux-anvil-cos7-x86_64
          tags: >-
            latest
            ${{ steps.get-tag.outputs.tag }}
          dockerfiles: |
            ./Dockerfile

      - name: Build ARM Image
        if: ${{ needs.release_please.outputs.release_created }}
        id: buildah-build-arm
        uses: redhat-actions/buildah-build@v2
        with:
          image: bioconda-utils-build-env-cos7-aarch64
          arch: arm64
          build-args: |
            BASE_IMAGE=quay.io/condaforge/linux-anvil-aarch64
          tags: >-
            latest
            ${{ steps.get-tag.outputs.tag }}
          dockerfiles: |
            ./Dockerfile

      - name: Test Built Image
        if: ${{ needs.release_please.outputs.release_created }}
        run: |
          image='${{ steps.buildah-build.outputs.image }}'
          for tag in ${{ steps.buildah-build.outputs.tags }} ; do
            podman run --rm "${image}:${tag}" bioconda-utils --version
          done

      - name: Push To Quay
        if: ${{ needs.release_please.outputs.release_created }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.buildah-build.outputs.image }}
          tags: ${{ steps.buildah-build.outputs.tags }}
          registry: ${{ secrets.QUAY_BIOCONDA_REPO }}
          username: ${{ secrets.QUAY_BIOCONDA_USERNAME }}
          password: ${{ secrets.QUAY_BIOCONDA_TOKEN }}

      - name: Push To Quay
        if: ${{ needs.release_please.outputs.release_created }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.buildah-build-arm.outputs.image }}
          tags: ${{ steps.buildah-build-arm.outputs.tags }}
          registry: ${{ secrets.QUAY_BIOCONDA_REPO }}
          username: ${{ secrets.QUAY_BIOCONDA_USERNAME }}
          password: ${{ secrets.QUAY_BIOCONDA_TOKEN }}
